@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-color: #ffd84b;
  --caption-color: #ffffff;
  --first-bg-color: #a3262a;
  --second-bg-color: #cc232a;
  --shadow: #69000054;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100svh;
  background: linear-gradient(
    to bottom,
    var(--first-bg-color) 25%,
    var(--second-bg-color) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10%;
}

h1 {
  color: var(--main-color);
  font-size: 9vw;
  text-shadow: 5px 5px 5px var(--shadow);
}

p {
  color: var(--caption-color);
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 3rem;
}

.container {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.container .card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  padding-top: 3.5rem;
  box-shadow: 5px 5px 5px var(--shadow);
}

.container .card .counter {
  letter-spacing: 3px;
  color: var(--first-bg-color);
  font-size: 5.5rem;
  font-weight: 700;
}

.container .card .caption {
  color: var(--first-bg-color);
  font-size: 1.5rem;
  padding: 1rem 0 2rem;
}

.message {
  display: none;
  font-size: 10vw;
  font-weight: 700;
  color: var(--main-color);
  text-shadow: 5px 5px 5px var(--shadow);
}
